<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paint</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
        <h1>¡Dibuja!</h1>
        <div class="buttons">
            <span class="btn-tools">
                <button id="clear">🗑</button>
                <button id="save">💾</button>
                <button id="circle">⚫</button>
                <button id="rectangle">⬛</button>
                <button id="triangle">🔺</button>
            </span>
            <a href="../../../index.html"><button class="button">Regresar</button></a> 
        </div>
        <canvas id="canvas" width="340px"></canvas>
        <div class="tools">
            <input type="color" id="color">
            <input type="range" min="1" max="10" value="1" id="lw">
            <input type="text" id="lineNumber" placeholder="1">
        </div>
    </div>
    
</body>
<script src="index.js"></script>
</html>