* {
    padding: 0;
    margin: 0;
}

#canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
}

.container {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
    font-family: sans-serif;
    margin: 5px 0;
}

.tools {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#lw {
    width: 200px;
    height: 20px;
    margin-left: 20px;
}

#color {
    width: 50px;
    height: 40px;
    border: none;
    background-color: transparent;
}

#lineNumber {
    width: 10px;
    margin-left: 15px;
    border: none;
    text-align: center;
    font-weight: bolder;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.button, #clear {
    padding: 8px 16px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    background-color: #6c9;
    cursor: pointer;
}