<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>api Drag&Drop - File reader</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="../../../index.html"><button class="button">Regresar</button></a> 
    <div class="bar"></div>
    <div class="dragZone">Drag and drop a file here</div>
    <div class="result"></div>
</body>
<script src="drag.js"></script>
</html>