<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IndexedDB + Drag&Drop</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="add-names">
        <input type="search" id="name" placeholder="Introduce un nombre">
        <button id="add">Añadir</button>
        <button id="reload">Recargar</button>
        <a href="../../../index.html"><button class="button">Regresar</button></a> 
    </div>
    <div class="names"></div>
</body>
<script src="index.js"></script>
</html>