@font-face {
    font-family: 'cs_regular';
    src: url(../fonts/cs_regular.ttf);
}

.text-title {
    font-family: 'cs_regular', cursive;
    font-size: 1.7rem;
}

body {
    background: #222 url('../images/csgo/wallpaper.jpg') no-repeat center center fixed;
    background-blend-mode: overlay;
    color: #fff;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.btn-bg {
    background-color: #363227;
    filter: brightness(2);
}

h2, h3, li>a, div.container {
    background: -webkit-linear-gradient(#2b342c, #363227);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(200%);
}

a.nav-link:hover {
    transition: 0.5s;
    border-top: 5px solid #2b342c;
}

.ico-title {
    filter: invert();
}