<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lazy load</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="../../../index.html"><button class="button">Regresar</button></a> 
    <div class="publications">
        <div class="publication">
            <h3>Rodolfo</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus impedit consectetur similique praesentium, aperiam porro neque veniam, eum ab, quasi vel. Asperiores aliquid eius molestias, cupiditate hic rem ad. Porro.</p>
            <div class="commentaries">
                <input type="text" class="comment" placeholder="Introduce un comentario">
                <input type="submit"  class="send">
            </div>
        </div>
    </div>
</body>
<script src="index.js"></script>
</html>